<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Padrinhos</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="banner">
            <div id="title">
                <h1 class="title">SGCPN</h1>
                <h3>Sistema de gerenciamento de cartinhas para o Papai Noel</h3>
            </div>
        </div>
    </header>
    <main>
        <h2 class="title">Informações cadastrais</h2>
        <div class="switch">
            <button class="button-select" id="selected">
                <img src="./assets/selectedUser.svg" alt="">
                <p class="buttonText">Apadrinhar</p>
            </button>
            <button class="button-select">
                <img src="./assets/users.svg" alt="">
                <p class="buttonText">Instituição</p>
            </button>
        </div>
        <div class="form">
            <p class="text">*TODOS OS CAMPOS SÃO OBRIGATÓRIOS</p>
            <form>
                <div class="box-1">
                    <div>
                        <p class="inputText">Nome</p>
                        <label for="" class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">RG/CNPJ</p>
                        <label for="" class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">E-mail</p>
                        <label for="" class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">Sexo</p>
                        <label class="input" for="">
                            <input type="text" name="sexo" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">Telefone Fixo</p>
                        <label for="" class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">Celular</p>
                        <label for="" class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                </div>

                <div id="endereco">
                    <p class="inputText">Endereço</p>
                    <label for="" class="input">
                        <input type="text" name="" id="enderecoInput">
                    </label>
                </div>

                <div class="box-2">
                    <div>
                        <p class="inputText">Número</p>
                        <label for="" class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">Complemento</p>
                        <label for="" class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                </div>
                <div class="box-3">
                    <div>
                        <p class="inputText">Estado</p>

                        <label class="input box-3-input" for="">
                            <input class="box-3-input" type="text" name="" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">Cidade</p>

                        <label for="" class="input box-3-input">
                            <input class="box-3-input" type="" name="" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">CEP</p>
                        <label class="input box-3-input" for="">
                            <input type="text" name="" id="" class="box-3-input">
                        </label>
                    </div>
                </div>
                <div class="box-4">
                    <div>
                        <p class="inputText">Senha</p>
                        <label for="" class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                    <div>
                        <p class="inputText">Confirme a Senha</p>
                        <label class="input">
                            <input type="text" name="" id="">
                        </label>
                    </div>
                </div>
                <div class="check-boxes">
                    <div class="check-box black">
                        <label class="container">
                            <input type="checkbox">
                            <div class="checkmark"></div>
                        </label>
                        <p class="check-text black-text">SIM QUERO PARTICIPAR DA CAMPANHA “QUE NATAL LEGAL” ADOTANDO CARTINHAS PARA ESSE NATAL</p>
                    </div>
                    <p id="separate">Como você quer que o(s) presente(s) chegue(m) até a criança?</p>
                    <div class="check-box">
                        <label class="container">
                            <input type="checkbox">
                            <div class="checkmark"></div>
                        </label>
                        <p class="check-text">eU MESMO VOU ENVIAR PELO CORREIO E ENVIAREI O COMPROVANTE POR E-MAIL PARA CONTATO@BRINQUEDOSPARATODOS.COM.BR</p>
                    </div>
                    <div class="check-box">
                        <label class="container">
                            <input type="checkbox">
                            <div class="checkmark"></div>
                        </label>
                        <p class="check-text">QUE A BPT ENTREGUE JUNTAMENTE COM O PAPAI NOEL (SOMENTE PARA SÃO PAULO CAPITAL)</p>
                    </div>
                    <div class="check-box">
                        <label class="container">
                            <input type="checkbox">
                            <div class="checkmark"></div>
                        </label>
                        <p class="check-text">eu mesmo farei a entrega pessoalmente fantasiado(a) de papai noe e/ou mamãe noel e enviarei as fotos da entrega por e-mail para </p>
                    </div>
                    <div class="check-box black">
                        <label class="container">
                            <input type="checkbox">
                            <div class="checkmark"></div>
                        </label>
                        <p class="check-text black-text">DECLARO QUE ESTOU CIENTE E ACEITO OS TERMOS DA LEI DO SERVIÇO VOLUNTÁRIO, Nº 9.608, DE 18 DE FEVEREIRO DE 1998.</p>
                    </div>
                </div>
                <button class="submit">Cadastrar</button>
            </form>

        </div>
    </main>
    <footer>
        <p class="footer-text">© Copyright - Todos os direitos reservados.</p>
    </footer>
</body>
</html>